.boton {
    background-color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border:solid  2px black;
}
.button:hover {
    background-color:black;
    border:solid  2px white;
    color: white;
}

.boton_2{
        background-color:#D40032 ;
        padding: 15px 32px; 
        text-align: center;
        text-decoration:none;
        border-radius: 50px;
        border:solid 2px white;
        color: white;
    }

.a {
    color:black;
    font-weight:bold ;
    font-family:Liberation Sans;
    font-size: medium;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration:none;
}

section {
    background-color:#D40032 ;
    display: flex;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family:cambria;
}

.section-verde {
    background-color:#016241;
    padding-top: 80px;
    padding-bottom: 80px
    display: inherit;
    font-family: Cambria;
}

.textos{
    text-align: center;
}

.footer{
    display: flex;
    width: 25 px;
    height: 25px;
    margin: auto;

}