.boton {
    background-color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border:solid  2px black;
}
.boton:hover {
    background-color:black;
    border:solid  2px white;
    color: white;
}

.boton_2{
        background-color: transparent ;
        padding: 15px 32px; 
        text-align: center;
        text-decoration:none;
        border-radius: 50px;
        border:solid 2px white;
        color: white;
        cursor:pointer;
    }

.boton_2:hover{
    background-color: white;
    color:#D40032;  
    font-weight: bold;


}

.a {
    color:black;
    font-weight:bold ;
    font-family:georgia;
    font-size: medium;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration:none;
}

section {
    background-color:#D40032 ;
    display: flex;
    font-size: 30px;
    color: white;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family:georgia;
}

.section-verde {
    background-color:#016241;
    display: inherit;
    font-family: georgia;
    padding-top: 50px;
    padding-bottom: 50px;
}

.textos{
    text-align: center;
    margin-top: 7%;
}

.footer{
    display: flex;
    justify-content: center;
    width: 25 px;
    height: 25px;
    

}